.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.floatcenter {
  float: center;
}

.white {
      background-color: white;
}

.pad {
  padding: 15px;
}

.box {
  min-height: 40px;  
  margin: 5px;
  padding: 5px;
  font-weight: 600;
  color: gray;
  background: white;
  font-family: serif; 
  text-align: center;
  width: 80px;
  height: 25px;
}

h4 {
  color:white;
  font-family: serif;
  font-weight: bold;
  font-size: xx-large;
}
h3 {
  color:darkblue;
  font-family: serif;
  font-weight: bold;
  font-size: xx-large;
}

h1 {
  font-size: small;
}

.smalltext {
  font-size: small;
}

.center {
  align-items: center;
}
.bgorange {
  background-color: orange;
}